.idea
thinkphp_ticket/.idea
thinkphp_ticket/App/Runtime/Cache/*
!thinkphp_ticket/App/Runtime/Cache/index.html
thinkphp_ticket/App/Runtime/Data/*
!thinkphp_ticket/App/Runtime/Data/index.html
thinkphp_ticket/App/Runtime/Logs/*
!thinkphp_ticket/App/Runtime/Logs/index.html
thinkphp_ticket/App/Runtime/Temp/*
!thinkphp_ticket/App/Runtime/Temp/index.html
thinkphp_ticket/App/Common/Conf/config.php
